name: Cancel Workflows

on:
  workflow_dispatch:
  # schedule:
  #  - cron: 1 8 * * 1
  # watch:
  #   types: started

jobs:

  Cancel-All-Workflows:
    runs-on: ubuntu-20.04
    steps:
      - name: Cancel build runs
        uses: styfle/cancel-workflow-action@main
        with:
          workflow_id: ${{ github.event.workflow.id }}
